.c-input-wrap + .c-input-wrap {
  @apply mt-6 lg:mt-4;
}

.c-input {
  @apply h-12 lg:h-10;

  text-indent: theme('spacing.3');
}

.c-input {
  @apply w-full bg-gray-100 dark:bg-gray-950 rounded border border-transparent transition duration-250 ease-out-sine text-gray-700 dark:text-gray-50 select-text;

  &:hover {
    @apply bg-gray-200 dark:bg-black;
  }

  &:focus {
    @apply border-gray-200 bg-white dark:bg-gray-950 dark:border-gray-900 ring-3 ring-gray-300 dark:ring-gray-600;

    outline: none;
  }
}

.c-input__label {
  @apply font-semibold text-gray-700 dark:font-medium dark:text-white;

  text-wrap: balance;
}

.c-input.c-input--readonly {
  &, &:focus, &:hover {
    @apply border-gray-300 dark:border-gray-900 bg-transparent shadow-none cursor-default;

    resize: none;

    & + .c-select-caret {
      display: none !important;
    }
  }

  .c-input-wrap--text-when-disabled & {
    @apply p-0 border-0 h-auto min-h-0;

    text-indent: 0;
  }

  .c-input-wrap--text-when-disabled.c-input-wrap--empty & {
    @apply h-0;
  }
}

.c-input.appearance-none::-webkit-outer-spin-button,
.c-input.appearance-none::-webkit-inner-spin-button {
  appearance: none;
}

.appearance-none[type=number]::-webkit-inner-spin-button, 
.appearance-none[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}