html,
body,
#app {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);

  @include media-breakpoint-up(lg) {
    min-height: 100vh;
    height: auto;
  }
}

#app {
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow-y: auto;
}