.c-switch {
  @apply h-8 bg-gray-200;
  /* @apply h-8 bg-gray-200 dark:bg-abyss-100 dark:border-none; */
  width: calc(3.5rem + 1px);

  box-shadow: inset 0 2px 3px hsla(0, 0%, 0%, 0.1);
}

.c-switch-input:checked + .c-switch {
  @apply bg-emerald-500;
  /* @apply bg-emerald-500 dark:bg-turquoise-500; */
}

.c-switch__indicator {
  margin-left: 2px;
  width: calc(theme('spacing.8') - theme('spacing.1'));
  height: calc(theme('spacing.8') - theme('spacing.1'));
  top: 50%;
  transform: translateY(-50%);

  .c-switch-input:checked + .c-switch & {
    transform: translate(calc(theme('spacing.6') + 1px), -50%);
  }
}