.dialog-enter-active,
.dialog-leave-active {
  transition: opacity 150ms theme('transitionTimingFunction.out-sine');

  & .c-dialog {
    transition-duration: 120ms;
    transition-property: opacity, transform;
  }
}

.dialog-leave-active .c-dialog {
  transition-timing-function: theme('transitionTimingFunction.in-sine');
}

.dialog-enter-active .c-dialog {
  transition-timing-function: theme('transitionTimingFunction.out-sine');
}

.dialog-enter-from,
.dialog-leave-to {
  opacity: 0;

  & .c-dialog {
    opacity: 0;
  }
}

.dialog-enter-from .c-dialog {
  transform: translateY(5rem);
}

.dialog-leave-to .c-dialog {
  transform: translateY(3rem);
}
